body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.my_box{
    color: white;
    text-align: center;
}

.odd_even_cont{
    background-color: darkorange;
    
}